.gradle
/build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
*/*.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

src/*/resources/application.properties
*/src/*/resources/application.properties

### Tweet Streamers ###
tweet_streamer/src/tweet_streamer.egg-info
*/activate
*/pinned.txt


### Config file ###
gradle.properties
*/gradle.properties
*/application.properties
tweet_streamer/src/tweet_streamer/props.py
